    <div class="page-header" style="margin-bottom: 0; padding: 0;">
        {% if is_granted("ROLE_ADMIN") %}
            <div class="btn-group pull-right">
                <a class="btn btn-primary btn-large dropdown-toggle" data-toggle="dropdown" href="#"><i class="icon-pencil icon-white"></i> Edit <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a class="get-modal" data-target="#postFormModal" href="{{ path('avro_blog_post_edit',{'id' : post.id, 'section': 'title'}) }}">Title</a></li>
                    <li><a class="get-modal" data-target="#postFormModal" href="{{ path('avro_blog_post_edit',{'id' : post.id, 'section': 'content'}) }}">Content</a></li>
                    <li><a class="get-modal" data-target="#postFormModal" href="{{ path('avro_blog_post_edit',{'id' : post.id, 'section': 'tags'}) }}">Tags</a></li>
                    <li><a class="get-modal" data-target="#postFormModal" href="{{ path('avro_blog_post_edit',{'id' : post.id, 'section': 'admin'}) }}">Admin</a></li>
                </ul>
            </div>
        {% endif %}
        <h1>
            <a href="{{ path('avro_blog_blog_index', {'slug': post.slug}) }}">{{ post.title }}</a>
            <p><small>{{ post.summary }}</small></p>
        </h1>
    </div>
    <div>
        <small class="bold pull-right" style="margin: 0;">Posted {{ post.createdAt| daysAgo }}</small>
        <br />
        <br />
        <div id="postContent">
            {{ post.content | raw }}
        </div>
        <hr class="soften">
        <div class="pull-right">
            <strong>Tags: </strong>
            {% for tag in post.tags %}
                <a href="{{ path('avro_blog_blog_index', {'slug': tag.slug}) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}
        </div>
        {% include 'AvroExtraBundle:Common:share.html.twig' %}
        <hr class="soften">
        {% include 'AvroExtraBundle:Common:comments.html.twig' with {width: '320'} only %}
    </div>

