{% extends '::layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="span9">
            <div id="post{{ post.id }}">
                <div class="page-header">
                    <h1>{{ post.title }}</h1>
                </div>
                <div>
                    {% if is_granted('ROLE_USER') %}
                        <div class="pull-right">
                            <a href="{{ path('avro_blog_post_edit', {'id': post.id }) }}"><i class="blog-sprite-page-edit"></i>Edit Post</a> |
                            <a href="{{ path('avro_blog_post_delete', {'id': post.id }) }}"><i class="blog-sprite-page-delete"></i>Delete Post</a>
                        </div>
                    {% endif %}

                    {{ post.content | raw }}
                </div>
                <hr />
                <div>
                    <span>Tags: </span>
                    {% for tag in post.tags %}
                    <a href="#">{{ tag.name }}</a>
                    {% endfor %}
                </div>
                <hr />
                <h2>{{ comments | length }} Comment{% if comments | length > 1 %}s{% endif %}</h2>
                <div class="">
                    {% for comment in comments %}
                        <div class="well">
                            {{ comment.body | raw }}
                            <div>
                                <br />
                                By: <a href="#">{{ comment.name }}</a> &nbsp; <span>{{ comment.createdAt | daysAgo }}</span>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <hr />
                <form action="{{ path('avro_blog_comment_new', { 'id': post.id }) }}" method="post">
                    <div>
                        {{ form_widget(commentForm.name) }}
                    </div>
                    <div>
                        {{ form_widget(commentForm.body) }}
                    </div>
                    {{ form_widget(commentForm._token) }}
                    <div>
                        <button class="btn btn-primary" type="submit">Add Comment</button>
                    </div>
                </form>
            </div>
        </div><!--/span-->
        <div class="span3">
            <div class="well sidebar-nav">
                {% include 'AvroBlogBundle:Blog:posts_menu.html.twig' %}
            </div><!--/.well -->
        </div><!--/span-->
    </div>
    <hr />
{% endblock %}

