{% extends '::layout.html.twig' %}
{% block content %}
    <div class="row">
        <div class="span9">
            <div id="post{{ post.id }}">
                <div class="page-header">
                    <h1>{{ post.title }}</h1>
                </div>
                <div>
                    {% if is_granted('ROLE_USER') %}
                        <div class="pull-right">
                            <a href="{{ path('avro_blog_post_edit', {'id': post.id }) }}"><i class="blog-sprite-page-edit"></i>Edit Post</a> |
                            <a href="{{ path('avro_blog_post_delete', {'id': post.id }) }}"><i class="blog-sprite-page-delete"></i>Delete Post</a>
                        </div>
                    {% endif %}

                    {{ post.content | raw }}
                </div>
                <hr />
                <h2>{{ comments | length }} Comments</h2>
                <div class="shadows">
                    {% for comment in comments %}
                        <div>
                            {{ comment.body | raw }}
                        </div>
                    {% endfor %}
                </div>
                <form action="{{ path('avro_blog_comment_new') }}" method="post">
                    {{ form_widget(commentForm.body) }}
                    {{ form_widget(commentForm._token) }}
                    <button type="submit">Add Comment</button>
                </form>
            </div>
        </div><!--/span-->
        <div class="span3">
            <div class="well sidebar-nav">
                {% include 'AvroBlogBundle:Blog:posts_menu.html.twig' %}
            </div><!--/.well -->
        </div><!--/span-->
    </div>
    <hr />
{% endblock %}

