<table>
    <thead>
        <tr>
            <th class="sort">Title</th>
            <th class="sort center_align">Upload Date</th>
            <th class="sort center_align">Views</th>
        </tr>
    </thead>
    <tbody>
    {% for post in posts %}
        <tr>
            <td class="ui-corner-all"><a title="{{ post.abstract|raw }}" href="{{ path('avro_blog_post_show', {'id': post.id }) }}">{{ post.title }}<br /></a></td>
            <td class="center_align">{{ post.publicationDateStart|date('M d, y') }}</td>
            <td class="center_align">{{ post.views }}</td>
        </tr>
    {% else %}
        <tr>
            <td></td><td>0 posts Found</td>
        </tr>
     {% endfor %}
    </tbody>
</table>
