<table id="tableSorter" class="span-24 border">
    <thead class="border-bottom">
        <tr class="ui-state-default">
            <th class="sort">Id</th>
                            <th class="sort">Array</th>
                            <th class="sort">Array</th>
                            <th class="sort">Array</th>
                        <th>&nbsp</th>
        </tr>
    </thead>
    <tbody class="lines">
    {% for tag in tags %}
        <tr class="showOnHover">
            <td><a href="{{ path('avro_blog_tag_edit', {'id': tag.id }) }}" class="view image">{{ tag.id }}</a></td>
                            <td>{{ tag.Array }}</td>
                            <td>{{ tag.Array }}</td>
                            <td>{{ tag.Array }}</td>
                        <td class="dropDown"><a href="#" class="dropDownButton showOnHoverItem">actions</a>
                <ul class="dropDownContent border">
                    <li><a href="{{ path('avro_blog_tag_edit', {'id': tag.id }) }}">edit</a></li>
                    <li><a href="{{ path('avro_blog_tag_delete', {'id': tag.id }) }}" class="confirm" title="Are you sure you want to delete this tag?">delete</a></li>    
                </ul>
            </td>
        </tr>
    {% else %}
        <tr>
            <td></td><td>0 tags Found</td>
        </tr>
     {% endfor %}
    </tbody>
</table>
