{% extends '::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Latest Posts
            {% if is_granted('ROLE_USER') %}
                <a class="btn btn-primary btn-large pull-right" href="{{ path('avro_blog_post_new') }}"><i class="icon-plus icon-white"></i>New Post</a>
            {% endif %}
        </h1>
    </div>
    {% for post in posts %}
        <div class="">
            <div id="post{{ post.id }}">
                <div class="pull-right">{{ post.createdAt | date('F jS, Y') }}</div>
                <h3>{{ post.title }}</h3>
                <div>
                    {% if is_granted('ROLE_USER') %}
                        <div class="pull-right">
                            <a href="{{ path('avro_blog_post_edit', {'id': post.id }) }}"><i class="blog-sprite-page-edit"></i>Edit Post</a> |
                            <a href="{{ path('avro_blog_post_delete', {'id': post.id }) }}"><i class="blog-sprite-page-delete"></i>Delete Post</a>
                        </div>
                    {% endif %}
                    {{ post.content | raw }}
                </div>
            </div>
        </div>
        <hr />
    {% else %}
        <div>0 posts</div>
    {% endfor %}
{% endblock %}
